<div>
{{#if successFlash}}
<h1>Succes Login</h1>
{{/if}}
<h1>{{user.nameApp}}</h1>
{{#each music}}
<div class="card text-white bg-primary" style="width: 300px;">
  <img class="card-img-top" src={{this.img}} alt={{this.nameSong}}>
  <div class="card-body">
    <audio controls>
  <source src={{this.mp3}} type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    <h4 class="card-title">{{this.nameSong}}</h4>
    <p class="card-text">{{this.nameArtist}}</p>
  </div>
</div>
{{/each}}
</div>